.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox__input {
  position: absolute;
  left: -100vw;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.checkbox__control {
  position: relative;
  width: 28px;
  height: 28px;

  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 0.25rem;
}

.checkbox__legend {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--grey-3);
}

.checkbox__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 1.3rem;
  height: 1.3rem;
  color: var(--white);
}

/* CHECKED */
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background: var(--blue);
  border-color: var(--blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  display: inline-block;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background: grey;
  border-radius: 0.25rem;
  opacity: 0;

  animation: checked 400ms linear;
}

@keyframes checked {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* DISABLED */
.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background: var(--grey-2);
  pointer-events: none;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__legend {
  color: var(--grey-2);
}
