.tabs {
  padding: 1.5rem 0;
  background-color: var(--white);
}

.tabs__title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--grey-4);
  text-align: center;
}

.tabs__list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  list-style: none;
}

.tabs__link {
  position: relative;

  display: block;
  padding: 0.75rem 1rem;

  text-decoration: none;
  color: var(--grey-4);
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.tabs__link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;

  width: 0;
  height: 2px;

  background-color: var(--primary);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.tabs__link:hover {
  color: var(--primary);
}

.tabs__link:hover::after,
.tabs__link--active::after {
  width: 100%;
}

.tabs__link--active {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .tabs__list {
    flex-direction: column;
  }
}
