.main {
  margin: 1.5rem 0;
  background-color: var(--white);
}

.main__container {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
